/* custom styles */

.post-a-property {

  margin-right: 14px !important;
}

.service-property-manage {

  padding-top: 160px !important;
}

.service-second {

  margin-top: 16px !important;
}

.intro-custom-home-service {

  padding-top: 70px !important;
}

.interior-custom-title {

  color: #ffffff !important;
}

.interior-custom-title span {

  color: #06d0b0 !important;
}

.interior-custom-check i {

  color: #22ad97 !important;
}

.interior-custom-check .text {

  color: #ffffff !important;
}
