/* custom styles */
.post-a-property {

  margin-right: 14px !important;
}

.service-property-manage {

  padding-top: 160px !important;
}

.service-second {

  margin-top: 16px !important;
}

.intro-custom-home-service {

  padding-top: 70px !important;
}

.interior-custom-title {

  color: #ffffff !important;
}

.interior-custom-title span {

  color: #06d0b0 !important;
}

.interior-custom-check i {

  color: #22ad97 !important;
}

.interior-custom-check .text {

  color: #ffffff !important;
}

.custom-icon {

  max-width: 100px;
}

.title-mob {

  display: none;
}

.custom-prop-manag-title {

  color: #fff9e0 !important;
}

.custom-prop-manag-bg {

  background-color: #1791b5 !important;
}

.custom-prop-manag-bg .desc p {

  color: #533c5e !important;
}

.custom-service-icon {

  max-width: 80px;
  margin-top: 20px;
  margin-right: -10px;
}

.custom-service-precaus {

  max-width: 60px;
  margin-right: 24px;
}

.custom-safety-measure {

  margin-bottom: 32px !important;
  z-index: -1 !important;
}

.custom-movers-icon {

  max-width: 152px;
}

.join-us-service-popup img {

  margin-top: 50px !important;
}

.custom-popup-img {

  margin-top: 48px !important;
}

.list-a-property-popup {

  display: none;
}

.post-a-property-mobile {

  display: none;
}

.prop-management-popup {

  display: none;
}

.interior-popup {

  display: none;
}

.join-us-service-popup {

  display: none;
}

.book-now-service-popup {

  display: none;
}

.services-more-popup {

  display: none;
}

.install-popup {

  display: none;
}

.packer-mover-service-popup {

  display: none;
}

.home-services-list-gpr .desc p {

  min-height: 100px;
}

.packer-mover-custom .link {

    margin-right: 32px;
}

.secondary-option {

  margin-left: 20px;
}

.packer-contact {

  margin-top: 50px !important;
}

.interior-contact-icon {

  margin-top: 10px;
}

.interior-contact-icon i {

  margin-right: 8px;
}

.interior-contact-icon .secondary-option {

  margin-left: 20px;
}

.interior-contact-icon a:hover {

  color: #20ad96;
}

.home-services-list-gpr i {

  margin-right: 8px;
}

.home-services-list-gpr a:hover {

  color: #20ad96;
}

.message-form {

  margin-top: 28px;
  color: #696969;
}

.success-alert i {

  color: #22ad97;
}

.error-alert i {

  color: #d03200;
}

.success-alert {

  display: none;
}

.error-alert {

  display: none;
}

.right-box .event-button {

  margin-top: 12px;
}

.installation-icons {

  max-width: 60px;
}

.footer-logo-gpr {

  max-width: 160px;
}

.page-not-header-logo {

  display: block;
  margin: auto;
  width: 600px;

  margin-top: 100px;
}

.custom-service-more {

  max-width: 30% !important;
}

@media screen and (max-width: 1190px) {

  .custom-service-more {

    max-width: 40% !important;
  }
}

@media screen and (max-width: 768px) {

  .custom-service-more {

    max-width: 50% !important;
  }
}

@media screen and (max-width: 600px) {

  .title-mob {

    display: block;
  }

  .title-web {

    display: none;
  }

  .content .link {

    margin-top: 0px !important;
  }

  .desc p {

    display: none;
  }

  .custom-service-more {

    max-width: 80% !important;
  }
}

@media screen and (max-width: 500px) {

    .post-a-property {

      display: none;
    }

    .post-a-property-mobile {

      display: grid;
      margin-top: 24px;
    }

    .service-property-manage {

      padding-top: 80px !important;
    }

    .ah-words-wrapper {

      width: 100% !important;
    }

    .ah-words-wrapper b {

      display: block !important;
      margin: auto !important;
      left: 0 !important;
      right: 0 !important;
      text-align: center !important;
      color: #00ffd5 !important;
    }

    .right-box .event-button {

      margin-top: 0;
    }

    .become-an-instructor-section .section-title span {

      color: #00ffd5 !important;
    }
}
