
#preloader {

  z-index: 1000;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}

#preloader img {

  max-width: 300px;
  display: block;
  margin: auto;
  padding-top: 18%;
}

#page {

  display: none;
}
